--extra-index-url https://download.pytorch.org/whl/cu129

torch
torchvision
torchaudio

aiofiles
aiohttp
aioshutil
albumentations
arabic_reshaper
backports.statistics
colorama
ctranslate2
customtkinter
einops
fastapi
freetype-py

httpcore
httpx
huggingface-hub
kornia
langcodes
loguru
manga-ocr
networkx
numpy
omegaconf
onnxruntime-gpu
openai
opencv-python==4.12.0.88
packaging
pandas
Pillow
psutil
py3langid
pyclipper
pydantic
git+https://github.com/lucasb-eyer/pydensecrf.git
PyHyphen
PySide6
python-dotenv
rich
rusty_manga_image_translator
safetensors
scipy
sentencepiece
setuptools
Shapely
scikit-image
starlette
tiktoken
timm
transformers
tqdm
uvicorn
websockets
xformers
deepl
groq
torchsummary
open_clip_torch
google-generativeai
python-bidi
tufup
