--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
torchaudio

aiofiles
aiohttp
aioshutil
albumentations
arabic_reshaper
backports.statistics
colorama
ctranslate2
customtkinter
einops
fastapi
freetype-py

httpcore

huggingface-hub
httpx==0.28.1
ijson
kornia
langcodes
loguru
manga-ocr
matplotlib
networkx
numpy
omegaconf
onnxruntime==1.20.1
openai>=1.0.0
opencv-python==4.12.0.88
packaging
pandas
Pillow
psutil
py3langid
pyclipper
pydantic
PyHyphen
PyQt6
pytest
python-dotenv
rich
rusty_manga_image_translator
safetensors
scipy
sentencepiece
setuptools
Shapely
scikit-image
starlette
tiktoken
timm
transformers
tqdm
uvicorn
websockets
# xformers==0.0.32.post2  # CPU版本不需要，仅GPU使用
google-generativeai
git+https://github.com/lucasb-eyer/pydensecrf.git
deepl
groq
torchsummary
open_clip_torch
python-bidi
tufup 
google-cloud
google-genai